{% extends "layouts/default.html" %}

{% block title %} AMBERTONE Dashboard {% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/suggestags.css">
<link href="/static/assets/css/dataTables.contextualActions.min.css" rel="stylesheet">
<link href="/static/assets/css/dataTables.select.min.css" rel="stylesheet">
<link href="/static/assets/css/dashboard-charts.css" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/apexcharts/apexcharts.css') }}" rel="stylesheet">

{% endblock stylesheets %}


{% block content %}
   <!-- Replace the existing chart section with this -->
<div class="panel-header bg-primary-gradient mt--4">
    <div class="page-inner py-5">
      <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row mb-4">
        <div>
          <h2 class="text-white pb-2 fw-bold">Dashboard</h2>
        </div>
        <div class="ml-md-auto py-2 py-md-0">
          <a href="javascript:void(0);" onclick="load_add_case();" class="btn btn-white btn-sm btn-border btn-round mr-2">
            <span class="btn-label">
              <i class="fa fa-plus"></i>
            </span>
            Create new case
          </a>
        </div>
      </div>
      
      <!-- Charts Container -->
      <div class="chart-container">
        <div class="charts-wrapper">
            <div class="card-body-chart">
              <h4 class="chart-title">Agent OS</h4>
              <div class="chart-inner">
                <div id="osChart"></div>
              </div>
            </div>
            <div class="card-body-chart">
              <h4 class="chart-title">Agent Status</h4>
              <div class="chart-inner">
                <div id="statusChart"></div>
              </div>
            </div>
            <div class="card-body-chart">
              <h4 class="chart-title">Agent HeartBeat</h4>
              <div class="chart-inner">
                <div id="heartbeatChart"></div>
              </div>
            </div>
        </div>
     </div>
    </div>
  </div>
    
    <div class="page-inner mt--5">
      <div class="row row-card-no-pd">
          <div class="col-sm-6 col-md-4">
            <div class="card card-stats card-round">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="flaticon-file-1 text-success"></i>
                            </div>
                        </div>
                        <div class="col-7 col-stats">
                            <div class="numbers">
                                <p class="card-category">Cases (open / all)</p>
                                <h4 class="card-title">{{ data.cases_open_count }} / {{ data.cases_count }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card card-stats card-round">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="flaticon-suitcase text-warning"></i>
                            </div>
                        </div>
                        <div class="col-7 col-stats">
                            <div class="numbers">
                                <p class="card-category">Attributed open cases</p>
                                <h4 class="card-title">{{ data.user_open_count }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card card-stats card-round">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i id='icon_user_task' class=""></i>
                            </div>
                        </div>
                        <div class="col-7 col-stats">
                            <div class="numbers">
                                <p class="card-category">Attributed open tasks</p>
                                <h4 class="card-title" id="user_attr_count"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      
    <div class="row" id="rowPendingCasesReview" style="display: none;">
      <div class="col-md-12">
            <section class="card">
                <div class="card-header">
                  <div class="card-title">Attributed cases review
                    <div class="text-faded float-right">
                      <small id="ureviews_last_updated"></small>
                      <button type="button" class="btn btn-xs btn-dark ml-2"
                          onclick="update_ureviews_list();">Refresh
                        </button>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" id="ureviews_table_wrapper">
                      <table class="table display table-striped table-hover" width="100%" cellspacing="0" id="ureview_table" >
                        <thead>
                          <tr>
                              <th>Case name</th>
                              <th>Review Status</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                              <th>Case name</th>
                              <th>Review Status</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12">
            {{ form.hidden_tag() }}
            <section class="card">
                <div class="card-header">
                  <div class="card-title">Attributed open tasks
                    <div class="text-faded float-right">
                      <small id="utasks_last_updated"></small>
                      <button type="button" class="btn btn-xs btn-dark ml-2"
                          onclick="update_utasks_list();">Refresh
                        </button>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" id="utasks_table_wrapper">
                      <table class="table display table-striped table-hover" width="100%" cellspacing="0" id="utasks_table" >
                        <thead>
                          <tr>
                              <th>Title</th>
                              <th>Description</th>
                              <th>Status</th>
                              <th>Case</th>
                              <th>Last update</th>
                              <th>Tags</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                              <th>Title</th>
                              <th>Description</th>
                              <th>Status</th>
                              <th>Case</th>
                              <th>Last update</th>
                              <th>Tags</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="card">
                <div class="card-header">
                  <div class="card-title">Attributed open cases
                    <div class="text-faded float-right">
                      <small id="ucases_last_updated"></small>
                        <button type="button" class="btn btn-xs btn-dark ml-2"
                          onclick="update_ucases_list(true);">Show closed cases
                        </button>
                      <button type="button" class="btn btn-xs btn-dark ml-2"
                          onclick="update_ucases_list();">Refresh
                        </button>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" id="ucases_table_wrapper">
                      <table class="table display table-striped table-hover" width="100%" cellspacing="0" id="ucases_table" >
                        <thead>
                          <tr>
                              <th>Title</th>
                              <th>Description</th>
                              <th>Client</th>
                              <th>Opening date</th>
                              <th>Tags</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                              <th>Title</th>
                              <th>Description</th>
                              <th>Client</th>
                              <th>Opening date</th>
                              <th>Tags</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="card">
                <div class="card-header">
                  <div class="card-title">Global tasks
                    <div class="text-faded float-right">
                      <small id="tasks_last_updated"></small>
                        <button type="button" class="btn btn-xs btn-dark ml-2"
                          onclick="add_gtask();">
                          Add global task
                        </button>
                        <button type="button" class="btn btn-xs btn-dark ml-2"
                          onclick="update_gtasks_list();">Refresh
                        </button>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" id="gtasks_table_wrapper">
                      <table class="table display table-striped table-hover" width="100%" cellspacing="0" id="gtasks_table" >
                        <thead>
                          <tr>
                              <th>Title</th>
                              <th>Description</th>
                              <th>Status</th>
                              <th>Assigned to</th>
                              <th>Last update</th>
                              <th>Tags</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                              <th>Title</th>
                              <th>Description</th>
                              <th>Status</th>
                              <th>Assigned to</th>
                              <th>Last update</th>
                              <th>Tags</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="modal_add_gtask" data-backdrop="true">
      <div class="modal-xl modal-dialog" role="document">
          <div class="modal-content" id="modal_add_gtask_content">
          </div>
      </div>
  </div>
{% endblock content %}

{% block javascripts %}
    <script src="/static/assets/js/plugin/tagsinput/suggesttag.js"></script>
    <script src="/static/assets/js/plugin/select/select2.js"></script>
    <script src="/static/assets/js/plugin/datatables/dataTables.cellEdit.js"></script>
    <script src="/static/assets/js/plugin/datatables/dataTables.buttons.min.js"></script>
    <script src="/static/assets/js/plugin/datatables/dataTables.contextualActions.min.js"></script>
    <script src="/static/assets/js/plugin/datatables/dataTables.select.min.js"></script>
    <script src="/static/assets/js/plugin/datatables/buttons.html5.min.js"></script>
    <script src="/static/assets/js/plugin/datatables/buttons.print.min.js"></script>
    <script src="/static/assets/js/iris/dashboard.js"></script>
  
<!-- ApexCharts -->
<script src="{{ url_for('static', filename='vendor/apexcharts/apexcharts.min.js') }}"></script>

<script>
const chartColors = {
    os: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF'],
    status: ['#4CAF50', '#FFC107', '#F44336'],
    heartbeat: ['#00C853', '#FFD600', '#FF6D00', '#D50000']
};

function createDonutChart(elementId, data, colors) {
    const chartElement = document.querySelector(elementId);
    const options = {
        series: data.values,
        labels: data.labels,
        chart: {
            type: 'donut',
            height: 200,
            width: '100%',
            background: 'transparent'
        },
        colors: colors,
        plotOptions: {
            pie: {
                donut: {
                    size: '60%',
                    background: 'transparent',
                    labels: {
                        show: false
                    }
                },
                track: {
                    background: 'transparent'
                },
                startAngle: -90,
                endAngle: 270,
                offsetX: 0,
                offsetY: 0,
                customScale: 1,
                hollow: {
                    margin: 5,
                    size: '70%',
                    background: 'transparent',
                    image: undefined,
                },
            }
        },
        stroke: {
            width: 4,
            colors: ['#211e28']
        },
        grid: {
            padding: {
                top: 5,
                bottom: 5,
                left: 0,
                right: 0
            }
        },
        states: {
            hover: {
                filter: {
                    type: 'none'
                }
            },
            active: {
                filter: {
                    type: 'none'
                }
            }
        },
        theme: {
            palette: 'palette2'
        },
        chart: {
            type: 'donut',
            height: 200,
            width: '100%',
            background: 'transparent',
            sparkline: {
                enabled: true
            },
            animations: {
                dynamicAnimation: {
                    enabled: true,
                    speed: 350
                }
            }
        },
        legend: {
            show: false
        },
        dataLabels: {
            enabled: true,
            // print value along with name of the data
            // formatter: function(val, opts) {
            //     return opts.w.globals.labels[opts.seriesIndex] + ": " + val;
            // },
        },
        tooltip: {
            enabled: true,
            theme: 'dark',
            y: {
                formatter: function(value) {
                    const total = data.values.reduce((a, b) => a + b, 0);
                    const percentage = ((value / total) * 100).toFixed(1);
                    return `${value} (${percentage}%)`;
                }
            }
        },
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: 200
                }
            }
        }]
    };

    const chart = new ApexCharts(chartElement, options);
    return chart;
}

function updateAgentCharts() {
    $.ajax({
        url: '/dashboard/agent-analytics' + case_param(),
        type: 'GET',
        dataType: 'JSON',
        beforeSend: function() {
            $('.chart-container .card').addClass('is-loading');
        },
        success: function(response) {
            if (response.status === "success" && response.data) {
                const data = response.data;
                try {
                    // Clear existing charts
                    document.querySelectorAll('#osChart, #statusChart, #heartbeatChart').forEach(el => {
                        el.innerHTML = '';
                    });

                    // OS Distribution Chart
                    const osData = {
                        labels: Object.keys(data.os_distribution),
                        values: Object.values(data.os_distribution)
                    };
                    const osChart = createDonutChart('#osChart', osData, chartColors.os);
                    osChart.render();

                    // Status Distribution Chart
                    const statusData = {
                        labels: Object.keys(data.status_distribution),
                        values: Object.values(data.status_distribution)
                    };
                    const statusChart = createDonutChart('#statusChart', statusData, chartColors.status);
                    statusChart.render();

                    // Heartbeat Distribution Chart
                    const heartbeatData = {
                        labels: Object.keys(data.heartbeat_distribution),
                        values: Object.values(data.heartbeat_distribution)
                    };
                    const heartbeatChart = createDonutChart('#heartbeatChart', heartbeatData, chartColors.heartbeat);
                    heartbeatChart.render();

                } catch (err) {
                    console.error('Error processing chart data:', err);
                    notify_error('Error processing chart data: ' + err.message);
                }
            } else {
                notify_error(response.message || 'Invalid response format');
            }
        },
        error: function(xhr, status, error) {
            notify_error('Failed to load agent analytics data: ' + (error || 'Unknown error'));
        },
        complete: function() {
            $('.chart-container .card').removeClass('is-loading');
        }
    });
}

// Initial load
$(document).ready(function() {
    updateAgentCharts();
    
    // Refresh every 5 minutes
    setInterval(updateAgentCharts, 5 * 60 * 1000);
    
    // Initialize other dashboard components
    update_ucases_list();
    update_utasks_list();
    update_ureviews_list();
    update_gtasks_list();
});
</script>
{% endblock javascripts %}