
.login {
    height: 100%;
    display: flex;
    align-items: stretch;
    background-color: #000000; /* Pure black background */
}

/* #### LOGIN WRAPPER #### */
.login__wrapper {
    display: flex;
    flex-direction: row;
    margin: 0;
}

/* #### LEFT SIDE #### */
.login__left_part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../img/login_background.jpg);
}

/* #### RIGHT SIDE #### */
.login__right_part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 15px;
    background-color: #121212; /* Darker near black */
    color: #c77d00; /* Muted amber text */
}

/* #### FORM #### */
.login__form {
    margin: 0 8%;
}

/* #### FORM TITLE #### */
.login__form_title {
    align-self: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff; /* Muted amber */
}

/* #### LOGO #### */
.login__logo {
    max-width: 35%;
}

.login__logo img {
    height: auto;
    max-width: 100%;
}

/* #### FORM FIELDS #### */
.login__form_field_container {
    margin-bottom: 20px;
}

.login__form_field_container label {
    color: #c77d00; /* Muted amber labels */
    font-weight: bold;
}

.login__form_input {
    display: flex;
    align-items: center;
    background-color: #121212; /* Darker near black background */
    border: 1px solid #4b3200; /* Dark amber border */
    padding: 8px;
    border-radius: 5px;
    color: #c77d00; /* Muted amber text */
}

.login__form_input input {
    border: none;
    color: #c77d00; /* Muted amber text */
    background-color: #fff; /* Darker near black background */
}

.login__show_password {
    cursor: pointer;
    color: #c77d00; /* Muted amber */
}

/* #### BUTTONS #### */
.login__submit_button {
    width: 40%;
    font-weight: bold;
    background-color: #fff !important; /* Dark amber */
    color: #000000; /* Black contrast */
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.login__submit_button:hover {
    background-color: #c77d00; /* Lighter, but still muted amber */
    color: #000000;
}

/* #### CONTACT #### */
.login__contact_container {
    align-self: center;
    color: #fff; /* Muted amber text */
}

#username {
    background-color: #fff;
    border: 1px solid #4b3200; /* Dark amber border */
    padding: 8px;
    border-radius: 5px;
}

#password {
    background-color: #fff;
}